header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 80px;
top: 0;
left: 0;
box-shadow: 0px 10px 5px rgb(184, 184, 184) ;
opacity: 1;
}